body {
    font-family: system-ui, sans serif;
    background: #FFFFFF;
    text-align: center;
  }
  #image {
    max-width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .grey-square {
    border-radius: 5px;
    background-color: lightgray;
    margin-top: 10px;
    padding-top: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #title {
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
  }
  #img-div {
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
  }
  .timeline {
    text-align: left;
    font-size: 18px;
    margin-left: 600px;
    margin-right: 600px;
  }
  h3 {
    text-align: center;
  }
  .continue-reading {
    font-size: 30px;
  }
  
  